
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    margin-left: 50px;
  }
.card-container {
  display: flex;
  /* justify-content: space-between;  */
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  margin-right: 20px; 
}

.card:last-child {
  margin-right: 0; 
}


.daybook-card {
 
  width: 265px; 
  height: 150px; 
  
}
.upper-card{
  width: 265px; 
  height: 150px; 
  margin-top: auto;
}
.custom-text {
  color: black; 
}
.proceed-button {
  margin-top: auto; 
}
.hhshms{
  font-Family: Arial Black, sans-serif;
    font-size: large;
    background-image: linear-gradient(to right, #0b752b, #309b2c, #85c50d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }