.delete-button {
  margin-top: 10px;
  margin-left: 47%;
  padding: 4px 10px; 
  background-color: #e75a4a; 
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  width: 100px;
}
.sideBar-div{
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.delete-button:hover {
  background-color: #d32f2f; 
}
.text-danger {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  width:100%;
  height: 100vh;
}
.icon{
  color: white;

}
.link_text {
  color:white; 
  
}
.sidebar {

  width: 40%;
  max-height: 100vh; 
  min-width: 50px; 
  transition: width 0.3s ease; 
background-color:#333;
  
}
.children{
  width:70%;
  max-height:100%;
  /* background-color: rgb(187, 235, 235);*/
}
.children.collapsed {
  margin-left: 150px;
  transition: margin-left 0.3s ease;
}
.link-content {
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  /* background-color: #d32f2f; */
}

.icon {
  margin-right: 10px;
  margin-bottom: 20px; 
  color: white;
}
.link-text {
  display: inline-block;
  margin-bottom: 20px;
  color: white;
  /* font-size: 20px; */
  font-weight: bold;
} 
.hidden-text {
  display: none;
}

.submenu-item .submenu-text {
  color: white;
  margin-right:10px;
  margin-bottom: 20px;
}
.bars {
  margin-bottom: 20px; /* Adjust the margin as needed */
  color: white;
}
.backLogin:hover {
  background-color: #FFF;
  border-radius: 5px;
  color: #FFF;
  
}
.backLoginForm:hover {
  border: 1px solid gray;
}
.loginpic {
  width: 150px;
  height: 30px;
}

.loginimage {
  width: 40%;
  height: 15vh;
  /* object-fit: cover; */
  position: left;
}
.alllogin-container {
  width: 70%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.backArrowlogin {
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.backLogin:hover {
  background-color: #FFF;
  border-radius: 5px;
  color: #FFF;
}
.backLoginForm:hover {
  border: 1px solid gray;
}

/* login pages bottom links list */
.listcontainer {
  width: 100%;
  display: flex;

}
.forbusiness-page {
 width:50%;
 height:100%;
  background: linear-gradient(to bottom right, #abf47a, #cbe77c, #c6eec6, #edf5e9, #e9f3e0, #e3f1d6);
 

}
.login-logo-margin {
  border: 1px solid rgb(199, 195, 195);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.login-logo-margin:hover {
  border-color: #000000 !important;
}
.hr-lines {
  position: relative;
  max-width: 500px;
  margin-bottom: 20px;
  text-align: center;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 200px;
  background: rgb(204, 196, 196);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 200px;
  background: rgb(204, 196, 196);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
.forgetpagemaindiv,
.Otpmaindiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Forgetdiv {
    width: 100%;
}
 .signupimage {
  width: 100%;
  height: 110vh;
  object-fit: cover;
  position: left;
}
.logo {
  color: #FFF;
}
.loginBOdyDiv{
  height: 100%;
}

.submenu-text {
  color: white;
  margin-right:10px;
  margin-bottom: 20px;
  
}
.submenu-icon{
  color: white;
 
 margin: 0px 10px 20px 20px;
  
}

 /* .sidebar-form {
  width: 100%;
  margin-bottom: 10px; 
  background-color: #e75a4a;
}


.sidebar-input {
  width: 100%;
  padding: 5px;
  background-color: aqua;
} */

/* .logo-text-container {
  display: grid; 
  grid-template-columns: auto auto;
  gap: 10px; 
}


.logo-text-container {
  display: flex; 
  align-items: center;
  gap: 10px; 
} */






/* .logo {
  width:40px;
}
.link_text {
  width:20px;
}  */